:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-text-header: #2800FF;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}


.container {
  padding: 20px;
}

.table{
  padding: 20px
}

h6{
  text-align:center
}


#video{
  width:100%;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}


/* Navigation grid */
.footer {
/*   display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #ffffff;
   text-align: center !important;
  margin: 10% auto 1;
  padding: 2% auto 1% auto;
  width: 100%;
  flex-wrap: wrap; */
  border-top: 1px solid blue; 
  text-align:center;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}


/* Button - Add it from the README instructions */
button,
input {
  margin-top:20px;
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.25rem 1rem;
  transition: 500ms;
}


p10{
  font-size:9px;
  padding-left:40px;
  padding-right:40px;
color:blue;
  margin:20px;
  text-align:center;
  
}

.navbar{
color:   blue;
}
